@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* ================= PERFECT PRINT ================= */
@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    background: white !important;
  }

  body * {
    visibility: hidden;
  }

  #bill-section,
  #bill-section * {
    visibility: visible;
  }

  #bill-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 600px;

    background: white !important;
    color: black !important;

    padding: 30px;
    border-radius: 12px;

    box-shadow: none !important;
    border: 1px solid #ddd;
  }

  button {
    display: none !important;
  }
}